.zs_footer{
    margin: -8px;
    padding: 8px;
    position: relative;
    float: left;
    box-sizing: content-box;
    width: 100%;
    right: 0;
    left: 0;
    margin-top: 8px;
    background: #0275D8;
    border: 1px solid #0275D8;
    color: #fff;
}

.fond_bleu{
    background: #0275D8;
    border: 1px solid #0275D8;
    color: #fff;
}

.fond_orange{
    background: orange;
    border: 1px solid orange;
    color: #fff;
}